<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>
  <title>{{meta_title}}</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link href="https://fonts.googleapis.com/css2?family=Cousine&family=Lato&Roboto+Slab&family=Merriweather:wght@700&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/themes/prism.min.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.min.css" />
  <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />

  {{ghost_head}}
  {{!-- Outputs SEO meta+structured data and important settings, should always be in <head> --}}

</head>
<body class="{{body_class}} serif mid-gray bg-near-white pa3">
  <div id="site" class="mw-100 center ">

    <header id="site-header" class="mb0 measure center sans-serif">
      <nav class="sans-serif cf">
        <h1 class="mb1 mt0 tc f4 sans-serif b ttu">
          <a class="title no-underline" href="{{@site.url}}">{{@site.title}}</a>
        </h1>
        {{navigation}}
      </nav>
    </header>

    <main class="mw8-ns center">
      {{{body}}}
    </main>

    <footer class="mb0 center pt2 pb4 w-100 measure mt0">
      <div class="f6 tc light-silver">&copy; 2019-{{date format="YYYY"}} Peter Bui</div>
    </footer>
  </div>



  {{!-- <footer> --}}

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

{{#if pagination.pages}}
<script>
var maxPages = parseInt('{{pagination.pages}}');
</script>
<script src="{{asset "built/infinitescroll.js"}}"></script>
{{/if}}

{{#is "post, page"}}
<script src="{{asset "built/jquery.fitvids.js"}}"></script>
<script>
var images = document.querySelectorAll('.kg-gallery-image img');
images.forEach(function (image) {
    var container = image.closest('.kg-gallery-image');
    var width = image.attributes.width.value;
    var height = image.attributes.height.value;
    var ratio = width / height;
    container.style.flex = ratio + ' 1 0%';
});
$(document).ready(function () {
    var $postContent = $(".gh-content");
    $postContent.fitVids();
});
</script>
{{/is}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/components/prism-core.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/plugins/autoloader/prism-autoloader.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/plugins/line-numbers/prism-line-numbers.min.css"></script>

{{ghost_foot}}
{{!-- Outputs important scripts - should always be included before closing body tag --}}
</body>
</html>
