{{!< default}}

<div class="lh-copy w-100-l">
  {{#foreach posts}}
  <article class="gh-article {{post_class}} lh-copy w-100-l">
    <header>
      <h1 class="gh-title mb0 tc mw7-ns center">
          <a href="{{url}}" class="no-underline black-80">
            {{title}}
          </a>
        </h1>
      <div class="gh-post-meta tc sans-serif f6 black-40">
        <time datetime="{{date format="YYYY-MM-DD"}}">
          {{date format="MMM DD, YYYY"}}
        </time>
      </div>

      {{#if custom_excerpt}}
        <p class="measure-wide center" >{{custom_excerpt}}</p>
      {{/if}}

      {{#if feature_image}}
        <img class="gh-feature-image" src="{{feature_image}}" alt="{{title}}" />
      {{/if}}
    </header>

    <div class="gh-content gh-canvas measure-wide center">
      {{content}}
    </div>
  </article>

  {{/foreach}}
</div>

{{> "content-footer"}}
