{{!< default}}

{{#post}}
<section class="gh-article {{post_class}} lh-copy w-100-l">

  <header class="measure center">
    <h1 class="gh-title mb0 tc mw7-ns center">{{title}}</h1>
  </header>

  <div class="measure lh-copy center">
    {{content}}
  </div>
</section>
{{/post}}



{{#get "posts" include="tags" limit="all"}}
  <div id="writings" class="lh-copy w-75-ns measure center">
    <ul class="list pl0">
      {{#foreach posts as |post| }}
        {{#post}}
        <li>
          <time datetime="{{date format="YYYY-MM-DD"}}" class="dib tr w4 sans-serif f5">{{date format="MMM DD, YYYY"}}</time>
          <a href="{{url}}" class="">{{title}}</a>
        </li>
        {{/post}}
      {{/foreach}}
    </ul>
  </div>
{{/get}}
