{{!< default}}

{{#post}}
<article class="gh-article {{post_class}} lh-copy w-100-l">

  <header>
    <h1 class="gh-title mb0 tc mw7-ns center">{{title}}</h1>

    {{#if custom_excerpt}}
    <p class="measure-wide center" >{{custom_excerpt}}</p>
    {{/if}}

    {{#if feature_image}}
    <img class="gh-feature-image" src="{{feature_image}}" alt="{{title}}" />
    {{/if}}
  </header>

  <div class="gh-content gh-canvas measure-wide center">
    {{content}}
  </div>

{{> "content-footer"}}
</article>
{{/post}}
