{{!< default}}

<div class="gh-page">
    <div class="gh-container">

        {{#tag}}
        <header class="gh-page-head">

            <h1>{{name}}</h1>

            <p>
                {{#if description}}
                    {{description}}
                {{else}}
                    A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
                {{/if}}
            </p>

            {{#if feature_image}}
                <img class="gh-page-image" src="{{feature_image}}" alt="{{name}}" />
            {{/if}}

        </header>
        {{/tag}}

        <div class="gh-postfeed">
        {{#foreach posts}}

            {{> "card"}} {{!-- partials/card.hbs --}}

        {{/foreach}}
        </div>

    </div>
</div>

<div class="lh-copy w-100-l">
  {{#foreach posts}}
  <article class="gh-article {{post_class}} lh-copy w-100-l">
    <header>
      <h1 class="gh-title mb0 tc mw7-ns center">
          <a href="{{url}}" class="no-underline">
            {{title}}
          </a>
        </h1>
      <div class="gh-post-meta tc sans-serif f5">
        <time datetime="{{date format="YYYY-MM-DD"}}">
          {{date format="MMM DD, YYYY"}}
        </time>
      </div>

      {{#if custom_excerpt}}
        <p class="measure-wide center" >{{custom_excerpt}}</p>
      {{/if}}

      {{#if feature_image}}
        <img class="gh-feature-image" src="{{feature_image}}" alt="{{title}}" />
      {{/if}}
    </header>

    <div class="gh-content gh-canvas measure-wide center">
      {{content}}
    </div>
  </article>

  {{/foreach}}
</div>

{{> "content-footer"}}
